table{
    table-layout: fixed;
    width: 1290px;
    overflow-x:auto;
    border-collapse: collapse;
}

th,td{
    padding: 20px;
}

thead,tfoot{
    background-color:#141414;
    color: white;
}
tbody tr:nth-child(odd){
    background-color: #a3a1a1;
}

tbody tr:nth-child(even){
    background-color: #b4b4b4;
}

html{
    background-color: rgb(14, 15, 15);
}

tbody{
    color:black;
    text-align: center;
}

/* fuentes */
html{
    font-family: 'Roboto', sans-serif;
}

/* menu */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#menu-Desplegable{
    cursor: pointer;
}

/* botones editar*/
.boton-editar{
    background-color: rgb(77, 77, 253);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.boton-eliminar{
    background-color: rgb(250, 61, 61);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.buscar{
    background-color: rgb(207, 125, 17); 
    outline: none;
    border: none;
    border-radius: 4px 0px 0px 4px;
    cursor: pointer;
    margin-left: auto;
}

.buscador{
    width: 150px;
    border: none;
    border-radius: 0px 4px 4px 0px ;
}

#barra-Herramientas{
    display: flex;
    align-items: center;
    height: 50px;
    width: 1290px;
}
#boton-crear{
    color: white;
    margin-left: auto;
    background-color: rgb(40, 187, 60); 
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 20px;
}

.boton-aceptar{
    background-color: rgb(156, 8, 201);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.filtro{
    display: none;
}

#inputs{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input{
    width: 200px;
    padding: 10px;
    margin: 5px;
}

#aceptar{
    background-color: rgb(40, 187, 60); 
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;    
}
#cancelar{
    background-color: rgb(250, 61, 61);
    outline: none;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: 10px;
    padding: 10px 20px;
}
#botonesForm{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
}